// Imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Colors
$primary-color: #3BFDC1;
$button-color: #008DA0;
$button-hover-color: #00D8C1;
$accent-color: #234875;
$theme-colors:(
    primary: $button-color,
    "accent-light": lighten($accent-color, 10%),
    "accent": $accent-color,
    "form" : $form-color
);

@import "../node_modules/bootstrap/scss/bootstrap";

body, html{
    height: 100vh;
}
// General styling
button {
    box-shadow: 1px 3px 1px 1px rgba(11, 17, 39, 0.25);
}

header {
    background-color: $accent-color;
    color: white;
    height: 100px;
}

.close{
    box-shadow: none;
}

.card {
    box-shadow: 1em 1em 1em -1em gray;
    transition: box-shadow .3s linear;
    max-height: 300px;

    &:hover{
        box-shadow: 1em 2em 1em -1em darkgray;
        transition: box-shadow .3s linear;
    }

    .card-title-container{
        background-color: $accent-color;
        height: 70px;
    }

        .card-title{
            color: white;
        }

    transition: box-shadow .3s linear;
  

   
}

.card-img-top{
    max-height: 150px;
    min-height: 150px;
    //object-fit: cover;
}

textarea {
    text-align: left;
}
